body
{ 
	font-family: "Lucida Grande";
	font-size: 12px;
	line-height: 15px;
	color:#555;
	margin: 20px;
}

a
{
	font-weight: bold;
	text-decoration: none;
	color: #778fbd;
}

table
{
	margin-top: 20px;
	border-top-width: 3px;
	border-color: #ccc;
	border-top-style: solid;
	width: 100%;
	border-spacing: 0px;
	text-align: left;
}

td
{
	padding: 12px;
	padding-left: 6px;
	border-color: #ccc;
	border-width: 1px;
	border-bottom-style: solid;
}

tr.heading td
{
	color: #576f9d;
	border-top-width: 3px;
	border-top-style: solid;
	font-weight: bold;
}

a:hover
{
	color: #576f9d;
	text-decoration: underline;
}

b
{
	color: black;
}

li
{
	list-style-type: disc;
	margin-bottom: 10px;
}

h1
{
	color: black;
	font-size: 18px;
}

h2
{
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 0px;
}

p
{
	margin-top: 5px;
}

div.header
{
	margin-bottom: 10px;
	height:  48px;
	background: url(../images/logo.png) no-repeat;
}
div.header h1
{
	position: absolute;
	padding: 8px;
	left: 66px;
	top: 14px;
}

div.headerA
{
	margin-bottom: 10px;
	height:  48px;
	background: url(./images/logo.png) no-repeat;
}
div.headerA h1
{
	position: absolute;
	padding: 8px;
	left: 66px;
	top: 14px;
}

div.summary img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div.instructions
{
	position: relative;
	top: 10px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	background-color: #ffffff;
	border-color: #ddd;
	border-width: 2px;
	border-style: outset;
	-webkit-border-radius: 10px;
}

div.instructions h1
{
	color: #778fbd;
}

div.related
{
	margin-top: 40px;
	border-top: 1px solid #777;
}

div.related h1
{
	font-size: 14px;
}

div.related p
{
	margin-bottom: 0px;
}

div.top
{
	top: 0px;
	margin: 0px;
	position: absolute;
}
