Build/*
build-athena*/*
build_cmake_win64/*
build_ver_win64/*
build_cmake_win64_release/*
cmake_build_unixmake/*
cmake_build_version/*
cmake_build_ninja/*
CMakeLists.txt.user
source/versioner/Build/*
CMakeLists.txt.user.4.8-pre1
source/embedded/playlistmanager/Resources/*.qmlc