Build/*
build-athena*/*
build_cmake_win64/*
build_cmake_win64_2/*
build_ver_win64/*
build_cmake_win64_release/*
build_msvc16_win64/*
build-blackomega*/*
build_vc12debug_cmake/*
build_vc12debug_cmake2/*
build_msvc16_debug/*
cmake_build_unixmake/*
cmake_build_version/*
cmake_build_ninja/*
CMakeLists.txt.user
source/versioner/Build/*
CMakeLists.txt.user.4.8-pre1
source/embedded/playlistmanager/Resources/*.qmlc
source/blackomega.pro.user
temp/*
Qt_6_7_2_for*/*
