<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Black Omega</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>742</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Omega</string>
	<key>CFBundleIconFile</key>
	<string>omega.icns</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Stuart MacLean. All rights reserved.</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2014 Stuart MacLean. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.blackomega.blackomega</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Black Omega.help</string>
	<key>CFBundleHelpBookName</key>
	<string>uk.co.blackomega.blackomega.help</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>https://secure101.prositehosting.co.uk/blackomega/sparkle/appcast_mac.xml</string>
</dict>
</plist>
