<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-us</string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.blackomega.blackomega.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Black Omega</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>4746</string>
	<key>HPDBookAccessPath</key>
	<string>BlackOmegaHelp.html</string>
	<key>HPDBookIconPath</key>
	<string>Shared/logo.png</string>
	<key>HPDBookIndexPath</key>
	<string>BlackOmegaHelp.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>blackomega</string>
	<key>HPDBookTitle</key>
	<string>Black Omega Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
